body {
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(to right, #dac26f, #1298db);
  color: white;
}

.navbar {
  box-shadow: 1px 4px 8px rgba(15, 15, 15, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#cart-count {
  font-weight: bold;
  color: white;
  background-color: rgb(206, 12, 112);
  padding: 2px 6px;
  border-radius: 50%;
}
.card {
  padding: 10%;
}

.btn-add {
  background-color: #be0909;
  color: white;
}

.btn-add:hover {
  background-color: #cb139d;
}

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}
